<form method="post" action="" class="forms">
  <fieldset>
    <legend>New Recipe</legend>
    <% if (isLoggedIn) { %>
      <section>
        <input class="width-6" maxlength="50" name="title" placeholder="Title (max 50 characters)" type="text" required>
      </section>
      <section>
        <textarea maxlength="250" name="description" placeholder="Description (max 250 characters)" rows="5"></textarea>
      </section>
      <section>
        <input class="width-12" maxlength="250" name="image" placeholder="Image URL (max 250 characters)" type="text">
      </section>
      <section>
        <input type="text" maxlength="50" name="tagsinput" placeholder="Add Tag and Press Enter">
        <input type="hidden" name="tags">
        <div class="recipe-labels">
        </div>
      </section>
      <section>
        <row end>
          <column cols="4">
            <input maxlength="50" name="ingredient_title" placeholder="Add Ingredient" type="text">
          </column>
          <column cols="2">
            <input maxlength="2" min="1" max="99" name="ingredient_amount" type="number">
          </column>
          <column cols="3">
            <select class="select" name="ingredient_unit">
              <option value="teaspoons">Teaspoons</option>
              <option value="tablespoons">Tablespoons</option>
              <option value="cups">Cups</option>
              <option value="quarts">Quarts</option>
            </select>
          </column>
          <column cols="3">
            <button type="button" class="add-ingredient" round>Add Ingredient</button>
          </column>
        </row>
        <input type="hidden" name="ingredients">
        <div class="recipe-ingredients">
        </div>
      </section>
      <section>
        <button type="submit" round>Add Recipe</button>
      </section>
    <% } else { %>
      <section>
        <p>You must login first to be able to add a new recipe.</p>
      </section>
    <% } %>
  </fieldset>
</form>