<div class="modal recipe-details">
  <div class="modal-title">
    <h1><%= title %></h1>
    <% if (image) { %>
      <div class="modal-image">
        <img src="<%= image %>" alt="<%= title %>">
      </div>
    <% } %>
  </div>

  <div class="modal-content">
    <p>
      <%- description %>
      <cite class="small">
        <a class="recipe-user" href="#"><%= pad('- posted by', 12) + user.username %></a>
      </cite>
    </p>

    <div class="modal-content-user">
      <a class="right close-user" href="#">Close &times;</a>
      <h5>
        <img src="<%= user.image %>" alt="<%= user.username %>">
        About <%= user.username %>
      </h5>
      <div>
        <strong>Name:</strong>
        <%= capitalize(user.first_name.toLowerCase()) %> <%= capitalize(user.last_name.toLowerCase()) %>
      </div>
      <div>
        <strong>Email:</strong>
        <%= user.email %>
      </div>
      <p>Contact <a href="mailto:<%= user.email %>"><%= user.username %></a></p>
    </div>

    <h5>Ingredients</h5>
    <ul class="list-flat">
      <% forEach(ingredients, function(i) { %>
        <li><%= i.title %></li>
      <% }); %>
    </ul>

    <h5>Tags</h5>
    <% forEach(tags, function(t) { %>
      <span class="label label-default tag"><%= t.title %></span>
    <% }); %>
  </div>
</div>